@model Blog.Web.Models.ViewModels.AddTagRequest
@{
	ViewData["Title"] = "ADMIN - Add Tags";
}

@await Html.PartialAsync("_AdminHeading")

<div class="container py-5">
	<form class="container" method="post">

		<div class="mb-3">
			<label for="name" class="form-label">Name</label>
			<input type="text" class="form-control" id="name" asp-for="Name"/>
		</div>

		<div class="mb-3">
			<label for="displayName" class="form-label">Display Name</label>
			<input type="text" class="form-control" id="displayName" asp-for="DisplayName"/>
		</div>

		<div class="mb-3">
			<button type="submit" class="btn btn-dark">Submit</button>
		</div>

	</form>
</div>

