@model Blog.Web.Models.ViewModels.EditTagRequest
@{
	ViewData["Title"] = "ADMIN - Edit Tags";
}
@await Html.PartialAsync("_AdminHeading")

<div class="container py-5">
	@if (Model != null)
	{
		<form method="post">
		<div class="mb-3">
			<label class="form-label">Id</label>
			<input type="text" id="id" class="form-control" asp-for="Id" readonly/>
		</div>

		<div class="mb-3">
			<label class="form-label">Name</label>
			<input type="text" id="name" class="form-control" asp-for="Name"/>
		</div>

		<div class="mb-3">
			<label class="form-label">Display Name</label>
			<input type="text" id="displayName" class="form-control" asp-for="DisplayName"/>
		</div>

		<div class="mb-3">
			<div class="d-flex">
				<div class="pe-2">
					<button type="submit" class="btn btn-success">Update</button>
				</div>
				<div class="pe-2">
					<a class="btn btn-danger" asp-area="" asp-controller="AdminTags" asp-action="List">Cancel</a>
				</div>
				<div class="ms-auto">
					<button type="submit" class="btn btn-dark" asp-area="" asp-controller="AdminTags" asp-action="Delete">Delete</button>
				</div>
			</div>
		</div>
		</form>
	} else
	{
		<p>
			Tag not found!
		</p>
	}

</div>
