@model List<Blog.Web.Models.Domain.BlogPost>

@{
	ViewData["Title"] = "ADMIN - List BlogPost";
}

@await Html.PartialAsync("_AdminHeading")

<div class="container">
	@if (Model != null && Model.Any())
	{
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Heading</th>
					<th>Tags</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var blogPost in Model)
				{
					<tr>
						<td>@blogPost.Id</td>
						<td>@blogPost.Heading</td>
						<td>
							<div class="d-flex">
								@foreach (var tag in blogPost.Tags)
								{
									<span class="badge bg-secondary me-1">@tag.Name</span>
								}
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	} else
	{
		<p>No blogs were found!</p>
	}
</div>
<div class="container">
	<a class="btn btn-dark btn-sm" role="button" asp-area="" asp-controller="AdminBlogPosts" asp-action="Add">Add Blog Post</a>
</div>

